<div class="footer bg-light">
  <div class="container">
    <div class="row">
      <div class="col">
        <p>Azienda Lorem Ipsum</p>
        <p>P.IVA 000000000000</p>
        <p>Via Ipsum 00</p>
      </div>
      <div class="col">
        <p>Powered by Ant Srl</p>
        <p>Luca Chao Fang &copy;</p>
      </div>
      <div class="col">
        <i class="fab fa-facebook-square"></i>
        &nbsp;
        <i class="fab fa-twitter-square"></i>
        &nbsp;
        <i class="fab fa-instagram"></i>
        &nbsp;
        <i class="fab fa-linkedin"></i>
        &nbsp;
        <i class="fab fa-youtube-square"></i>
      </div>
    </div>
  </div>
</div>
