.container {
  min-height: calc(100vh - 235px);
}

svg {
  width: 100%;
}

svg:hover {
  cursor: pointer;
  fill: var(--info);
}

text {
  font-weight: bolder;
}

#torino .st0 {
  display: none;
}
#torino .st1 {
  fill: none;
  stroke: #000000;
  stroke-width: 3;
  stroke-miterlimit: 10;
}
#torino .st2 {
  fill: none;
  stroke: #ffffff;
  stroke-width: 3;
  stroke-miterlimit: 10;
}
#torino .st3 {
  fill: none;
  stroke: #ffffff;
  stroke-width: 2;
  stroke-miterlimit: 10;
}

#asti .st0 {
  stroke: none;
  stroke-miterlimit: 10;
}
#asti .st1 {
  fill: none;
  stroke: #ffffff;
  stroke-width: 3;
  stroke-miterlimit: 10;
}
#asti .st2 {
  fill: none;
  stroke: #ffffff;
  stroke-width: 3;
  stroke-miterlimit: 10;
}
#asti .st3 {
  fill: none;
  stroke: #ffffff;
  stroke-width: 3;
  stroke-miterlimit: 10;
}
