<h1 class="text-center">
  Vita notturna e dove alloggiare
</h1>
<div class="card mb-3">
  <img src="assets/imgs/home/torino_1.jpg" class="card-img-top" alt="" />
  <div class="card-body">
    <h5 class="card-title">Piazza Vittorio Emanuele</h5>
    <h6>Torino</h6>
    <p class="card-text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam at nisl
      viverra, tristique nibh sed, aliquam nibh. Vestibulum ante ipsum primis
      in faucibus orci luctus et ultrices posuere cubilia Curae; Suspendisse
      nec rutrum ligula, in tincidunt nisl. Etiam cursus ac mi vitae
      imperdiet. Aenean non rutrum mauris, vestibulum varius nisl. In in
      sollicitudin nibh. Maecenas sed...
    </p>
  </div>
</div>
