<h1 class="text-center">
  Piemonte da scoprire
</h1>
<div class="card-group">
  <div class="card">
    <img src="assets/imgs/home/ivrea_1.jpg" class="card-img-top" alt="..." />
    <div class="card-body">
      <h5 class="card-title">Ivrea</h5>
      <p class="card-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam at nisl
        viverra, tristique nibh sed, aliquam nibh. Vestibulum ante ipsum
        primis in faucibus orci luctus et ultrices posuere cubilia Curae;
        Suspendisse nec rutrum ligula, in tincidunt nisl. Etiam cursus ac mi
        vitae imperdiet.
      </p>
    </div>
  </div>
  <div class="card">
    <img
      src="assets/imgs/home/paesino_1.jpg"
      class="card-img-top"
      alt="..."
    />
    <div class="card-body">
      <h5 class="card-title">Paesaggi d'autore</h5>
      <p class="card-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam at nisl
        viverra, tristique nibh sed, aliquam nibh. Vestibulum ante ipsum
        primis in faucibus orci luctus et ultrices posuere cubilia Curae;
        Suspendisse nec rutrum ligula, in tincidunt nisl.
      </p>
    </div>
  </div>
</div>
